/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .footer {
   background-color: #f5f5f5;
   height: 60px;
   width: 100%;
   text-align: center;
   p { margin: 22px 0 20px 0; }
}

li.active2:hover {
  background-color: #008542;
  a:hover { color: white; }
}

li.active3:hover {
  background-color: #286090;
  a:hover { color: white; }
}

li.active4:hover {
  background-color: #7E0B80;
  a:hover { color: white; }
}

li.active5:hover {
  background-color: #a94442;
  a:hover { color: white; }
}

.container.main {
   min-height: 824px;
   margin-top: 79px;
}

.navbar-img {
  width: 32px;
}

.navbar-brand {
  padding-top: 8px;
}

button.btn.btn-default {
  border-radius: 75%;
  background-color: #286090;
}

span.glyphicon.glyphicon-search {
  color: white;
}

input#search {
  width: 700px;
}

.alert-danger {
  background-color: #a94442;
  border-color: #a94442;
  color: #fff;
}

.alert-info {
  background-color: #286090;
  border-color: #286090;
  color: #fff;
}

.close {
  color: #fff;
}

.index-margin {
  margin: 20px 0;
  p {
    float: right;
    margin-top: 5px;
  }
}
.image {
  width: 1140px;
}

.image1 {
  width: 1140px;
}

.data {
  margin-left: 20px;
}

.middle-index {
  text-align: center;
  width: 300px;
  margin: auto;
  display: inline-block;
  margin-left: 280px;
}

.posted {
  margin-right: 20px;
}

.form-center {
  margin-left: 320px;
  h1 { font-size: 300%; }
}

label {
  font-size: 200%;
  margin: 10px 0;
}

input#image_title {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_email {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_password {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_first_name {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_city {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_state {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_current_password {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_last_name {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

input#user_password_confirmation {
  font-size: 160%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 5px;
  width: 432px;
}

.submit {
  font-size: 160%;
  margin: 10px 0;
  width: 432px;
  padding: 10px;
  background-color: #286090;
  border-color: #286090;
  color: white;
  height: 50px;
}

.submit1 {
  font-size: 160%;
  margin: 10px 0;
  width: 432px;
  padding: 10px;
  background-color: #A51600;
  border-color: #A51600;
  color: white;
  height: 50px;
}

.unhappy {
  margin: 10px 0;
  font-size: 120%;
}

.small-label {
  font-size: 150%;
  margin: 10px 0;
}

textarea#image_description {
  resize: none;
  border-radius: 5px;
  font-size: 160%;
  width: 432px;
  height: 300px;
  padding: 5px;
}

textarea#user_about_me {
  resize: none;
  border-radius: 5px;
  font-size: 160%;
  width: 432px;
  height: 300px;
  padding: 5px;
}

.back {
  margin-top: 20px;
  font-size: 160%;
}

input#image_image {
  font-size: 160%;
  margin: 10px 0;
}

input#user_avatar {
  font-size: 160%;
  margin: 10px 0;
}

@media (max-width: 1200px) {
  input#search {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  input#search {
    width: 200px;
  }
}
