// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-page-title {
  text-align: center;
  margin-bottom: 47px;
  font-size: 300%;
}

.edit-delete {
  margin-bottom: 30px;
}

.jumbotron.application-jumbotron.margin-b {
  margin-bottom: 90px;
}
