// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-margin {
  margin: 20px 0;
  p {
    float: right;
    margin-top: 5px;
  }
}
.image {
  width: 1140px;
}

.image1 {
  width: 1140px;
}

.posted {
  margin-right: 20px;
}

.data {
  margin-left: 20px;
}

.middle-index {
  text-align: center;
  width: 300px;
  margin: auto;
  display: inline-block;
  margin-left: 280px;
}
