// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  border-radius: 50%;
  width: 32px;
  border: 1px solid grey;
}
.avatar1 {
  border-radius: 50%;
  width: 128px;
  border: 1px solid grey;
}
.center {
  margin: 35px auto;
  text-align: center;
}

.user-show-menu {
  margin: 50px 10px;
}

.name {
  font-size: 290%;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  color: black;
}

.user-location {
  font-size: 120%;
  color: grey;
  text-align: center;
}

.jumbotron.user-jumbotron {
  background-color: #fff;
  margin-bottom: 45px;
  p {
    text-align: center;
  }
}
