<h1>Check out the photos</h1>
<% @images.each do |image| %>
  <%= link_to (image_tag image.image.url(:medium), class: 'image'), image %>
  <i class="fa fa-thumbs-o-up"><%= image.get_likes.size %></i>
  <i class="fa fa-thumbs-o-down"><%= image.get_dislikes.size %></i>
<% end %>
